.content
	.container
		.content__main
			.article
				.col-1
					.article__date
						span 13
						span Nov
						span 2017
				.col-2
					.article__title
						| Lorem Ipsum is simply dummy text of the printing.
					.wrapper
						.article__image
							img(src="images/articles/1.jpg")
						.article__text
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							| has been the industry's standard dummy text ever since the 1500s, when
							| an unknown printer took a galley of type and scrambled it to make a type specimen book.
							| It has survived not only five centuries, but also the leap into electronic typesetting,
							| remaining essentially unchanged. It was popularised in the.
							br
							br
							| 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
							| more recently with desktop publishing
							a.article__text__more(href="#")
								| Read more >
				.article__data
					.article__data__author
						| By
						a(href="#") John Moorsev
					.article__data__comment
						a(href="#") 126 comments
					.article__data__tags
						| Tags:
						a(href="#") Design,
						a(href="#") Creative,
						a(href="#") Wordpress theme
					.article__data__share
						| Share
						.article__data__share__links
							a.article__data__share__link.sprite-tw(href="#")
							a.article__data__share__link.sprite-fb(href="#")
			.article
				.col-1
					.article__date
						span 13
						span Nov
						span 2017
				.col-2
					.article__title
						| Lorem Ipsum is simply dummy text of the printing.
					.wrapper
						.article__image
							img(src="images/articles/2.jpg")
						.article__text
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							| has been the industry's standard dummy text ever since the 1500s, when
							| an unknown printer took a galley of type and scrambled it to make a type specimen book.
							| It has survived not only five centuries, but also the leap into electronic typesetting,
							| remaining essentially unchanged. It was popularised in the.
							br
							br
							| 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
							| more recently with desktop publishing
							a.article__text__more(href="#")
								| Read more >
				.article__data
					.article__data__author
						| By
						a(href="#") John Moorsev
					.article__data__comment
						a(href="#") 126 comments
					.article__data__tags
						| Tags:
						a(href="#") Design,
						a(href="#") Creative,
						a(href="#") Wordpress theme
					.article__data__share
						| Share
						.article__data__share__links
							a.article__data__share__link.sprite-tw(href="#")
							a.article__data__share__link.sprite-fb(href="#")
			.article
				.col-1
					.article__date
						span 13
						span Nov
						span 2017
				.col-2
					.article__title
						| Lorem Ipsum is simply dummy text of the printing.
					.wrapper
						.article__image
							img(src="images/articles/3.jpg")
						.article__text
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							| has been the industry's standard dummy text ever since the 1500s, when
							| an unknown printer took a galley of type and scrambled it to make a type specimen book.
							| It has survived not only five centuries, but also the leap into electronic typesetting,
							| remaining essentially unchanged. It was popularised in the.
							br
							br
							| 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
							| more recently with desktop publishing
							a.article__text__more(href="#")
								| Read more >
				.article__data
					.article__data__author
						| By
						a(href="#") John Moorsev
					.article__data__comment
						a(href="#") 126 comments
					.article__data__tags
						| Tags:
						a(href="#") Design,
						a(href="#") Creative,
						a(href="#") Wordpress theme
					.article__data__share
						| Share
						.article__data__share__links
							a.article__data__share__link.sprite-tw(href="#")
							a.article__data__share__link.sprite-fb(href="#")
			.article
				.col-1
					.article__date
						span 13
						span Nov
						span 2017
				.col-2
					.article__title
						| Lorem Ipsum is simply dummy text of the printing.
					.wrapper
						.article__image
							img(src="images/articles/4.jpg")
						.article__text
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							| has been the industry's standard dummy text ever since the 1500s, when
							| an unknown printer took a galley of type and scrambled it to make a type specimen book.
							| It has survived not only five centuries, but also the leap into electronic typesetting,
							| remaining essentially unchanged. It was popularised in the.
							br
							br
							| 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
							| more recently with desktop publishing
							a.article__text__more(href="#")
								| Read more >
				.article__data
					.article__data__author
						| By
						a(href="#") John Moorsev
					.article__data__comment
						a(href="#") 126 comments
					.article__data__tags
						| Tags:
						a(href="#") Design,
						a(href="#") Creative,
						a(href="#") Wordpress theme
					.article__data__share
						| Share
						.article__data__share__links
							a.article__data__share__link.sprite-tw(href="#")
							a.article__data__share__link.sprite-fb(href="#")
		.content__sidebar
			form.search(action="" method="post")
				input.search__input(type="text" placeholder="Search")
				button.search__submit.sprite-search(type="submit")
			.follow
				.sidebar-title
					| Follow Us
				.follow__links
					a.follow__link.follow__link--fb(href="#")
					a.follow__link.follow__link--tw(href="#")
					a.follow__link.follow__link--gp(href="#")
			form.subscribe(action="" method="post")
				input.subscribe__input(type="text" placeholder="Enter your e-mail")
				button.subscribe__submit(type="submit")
					| Subscribe
