.content
	.container
		.content__main
			.article
				.col-1
					.article__date
						span 13
						span Nov
						span 2017
				.col-2
					.article__title
						| Lorem Ipsum is simply dummy text of the printing.
					.wrapper
						.article__image
							img(src="images/articles/1.jpg" alt="")
						.article__text
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							| has been the industry's standard dummy text ever since the 1500s, when
							| an unknown printer took a galley of type and scrambled it to make a type specimen book.
							| It has survived not only five centuries, but also the leap into electronic typesetting,
							| remaining essentially unchanged. It was popularised in the.
							br
							br
							| 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
							| more recently with desktop publishing
							a.article__text__more(href="#")
								| Read more >
				.article__data
					.article__data__author
						| By
						a(href="#") John Moorsev
					.article__data__comment
						a(href="#") 126 comments
					.article__data__tags
						| Tags:
						a(href="#") Design,
						a(href="#") Creative,
						a(href="#") Wordpress theme
					.article__data__share
						| Share
						.article__data__share__links
							a.article__data__share__link.sprite-tw(href="#")
							a.article__data__share__link.sprite-fb(href="#")
			.article
				.col-1
					.article__date
						span 13
						span Nov
						span 2017
				.col-2
					.article__title
						| Lorem Ipsum is simply dummy text of the printing.
					.wrapper
						.article__image
							img(src="images/articles/2.jpg" alt="")
						.article__text
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							| has been the industry's standard dummy text ever since the 1500s, when
							| an unknown printer took a galley of type and scrambled it to make a type specimen book.
							| It has survived not only five centuries, but also the leap into electronic typesetting,
							| remaining essentially unchanged. It was popularised in the.
							br
							br
							| 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
							| more recently with desktop publishing
							a.article__text__more(href="#")
								| Read more >
				.article__data
					.article__data__author
						| By
						a(href="#") John Moorsev
					.article__data__comment
						a(href="#") 126 comments
					.article__data__tags
						| Tags:
						a(href="#") Design,
						a(href="#") Creative,
						a(href="#") Wordpress theme
					.article__data__share
						| Share
						.article__data__share__links
							a.article__data__share__link.sprite-tw(href="#")
							a.article__data__share__link.sprite-fb(href="#")
			.article
				.col-1
					.article__date
						span 13
						span Nov
						span 2017
				.col-2
					.article__title
						| Lorem Ipsum is simply dummy text of the printing.
					.wrapper
						.article__image
							img(src="images/articles/3.jpg" alt="")
						.article__text
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							| has been the industry's standard dummy text ever since the 1500s, when
							| an unknown printer took a galley of type and scrambled it to make a type specimen book.
							| It has survived not only five centuries, but also the leap into electronic typesetting,
							| remaining essentially unchanged. It was popularised in the.
							br
							br
							| 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
							| more recently with desktop publishing
							a.article__text__more(href="#")
								| Read more >
				.article__data
					.article__data__author
						| By
						a(href="#") John Moorsev
					.article__data__comment
						a(href="#") 126 comments
					.article__data__tags
						| Tags:
						a(href="#") Design,
						a(href="#") Creative,
						a(href="#") Wordpress theme
					.article__data__share
						| Share
						.article__data__share__links
							a.article__data__share__link.sprite-tw(href="#")
							a.article__data__share__link.sprite-fb(href="#")
			.article
				.col-1
					.article__date
						span 13
						span Nov
						span 2017
				.col-2
					.article__title
						| Lorem Ipsum is simply dummy text of the printing.
					.wrapper
						.article__image
							img(src="images/articles/4.jpg" alt="")
						.article__text
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							| has been the industry's standard dummy text ever since the 1500s, when
							| an unknown printer took a galley of type and scrambled it to make a type specimen book.
							| It has survived not only five centuries, but also the leap into electronic typesetting,
							| remaining essentially unchanged. It was popularised in the.
							br
							br
							| 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
							| more recently with desktop publishing
							a.article__text__more(href="#")
								| Read more >
				.article__data
					.article__data__author
						| By
						a(href="#") John Moorsev
					.article__data__comment
						a(href="#") 126 comments
					.article__data__tags
						| Tags:
						a(href="#") Design,
						a(href="#") Creative,
						a(href="#") Wordpress theme
					.article__data__share
						| Share
						.article__data__share__links
							a.article__data__share__link.sprite-tw(href="#")
							a.article__data__share__link.sprite-fb(href="#")
			.pagenation
				a.pagenation__prev(href="#")
				.pagenation__pages
					a.pagenation__page(href="#")
						| 1
					a.pagenation__page(href="#")
						| 2
					a.pagenation__page.pagenation__page--active(href="#")
						| 3
					a.pagenation__page(href="#")
						| 4
					a.pagenation__page(href="#")
						| 5
					a.pagenation__page(href="#")
						| 6
					.pagenation__dots
					a.pagenation__page(href="#")
						| 78
				a.pagenation__next(href="#")
		.content__sidebar
			form.search(action="" method="post")
				input.search__input(type="text" placeholder="Search")
				button.search__submit.sprite-search(type="submit")
			.follow
				.sidebar-title
					| Follow Us
				.follow__links
					a.follow__link.follow__link--fb(href="#")
					a.follow__link.follow__link--tw(href="#")
					a.follow__link.follow__link--gp(href="#")
			form.subscribe(action="" method="post")
				input.subscribe__input(type="text" placeholder="Enter your e-mail")
				button.subscribe__submit(type="submit")
					| Subscribe
			.categories
				.sidebar-title
					| Categories
				.categories__list
					a.categories__list__item(href="#")
						| Lorem Ipsum is simply dummy
					a.categories__list__item.categories__list__item--active(href="#")
						| Remaining essentially unchanged
					a.categories__list__item(href="#")
						| Lorem Ipsum is simply dummy
					a.categories__list__item(href="#")
						| Lorem Ipsum is simply dummy
					a.categories__list__item(href="#")
						| Remaining essentially unchanged
					a.categories__list__item(href="#")
						| Lorem Ipsum is simply dummy
			.popular-post
				.sidebar-title
					| Popular Post
				.popular-post__image
					img(src="images/popular.jpg" alt="")
				.popular-post__text
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					| Lorem Ipsum has been the industry's
				.popular-post__data
					.popular-post__data__date
						| Sep 26, 2013
					a.popular-post__data__more(href="#")
						| Read More >
			.recent-post
				.sidebar-title
					| Recent Post
				.recent-post__list
					a.recent-post__list__item(href="#")
						| Lorem Ipsum is simply dummy
					a.recent-post__list__item(href="#")
						| Lorem Ipsum is simply dummy
					a.recent-post__list__item(href="#")
						| Remaining essentially unchanged
					a.recent-post__list__item(href="#")
						| Lorem Ipsum is simply dummy
			.tags
				.sidebar-title
					| Tags
				.tags__list
					a.tags__list__item(href="#")
						| design
					a.tags__list__item(href="#")
						| development
					a.tags__list__item(href="#")
						| multipurpose
					a.tags__list__item.tags__list__item--active(href="#")
						| creative
					a.tags__list__item(href="#")
						| seo
					a.tags__list__item(href="#")
						| adverticement
					a.tags__list__item(href="#")
						| life
