footer.footer
	.container
		.follow
			.follow__links
				a.follow__link.follow__link--fb(href="#")
				a.follow__link.follow__link--tw(href="#")
				a.follow__link.follow__link--gp(href="#")
		.footer__copyright
			| Copyright © 2017 Designed by
			a(href="https://cssauthor.com/" target="_blank") cssauthor.com
