header.header
	.container
		a.header__logo(href="/")
			img(src="images/logo.png" alt="Logo")
		.header__menu
			a.header__menu__item(href="#")
				| Home
			a.header__menu__item(href="#")
				| Service
			a.header__menu__item(href="#")
				| Portfolio
			a.header__menu__item(href="#")
				| Team
			a.header__menu__item.header__menu__item--active(href="#")
				| Blog
			a.header__menu__item(href="#")
				| Contact
