.article {
	position: relative;
	padding-left: 101px;

	.col-1 {
		position: absolute;
		left: 0;
		top: -12px;
	}

	.col-2 {
	}

	&__date {
		border-radius: 2px;
		padding-top: 21px;
		width: 71px;
		height: 103px;
		text-align: center;
		color: $color-white;
		background: $color-shakespeare;

		span {
			display: block;
			font-size: 17px;
			line-height: 20px;

			&:first-child {
				margin-bottom: 7px;
				font-weight: bold;
				font-size: 30px;
			}
		}
	}

	&__title {
		margin-top: 12px;
		margin-bottom: 25px;
		font-family: $font-family-roboto;
		font-weight: 500;
		font-size: 26px;
		line-height: 20px;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	&__image {
		img {
			border-radius: 5px;
			width: 269px;
			height: 235px;
			object-fit: cover;
		}
	}

	&__text {
		margin-left: 27px;
		font-size: 13px;
		line-height: 24px;
		color: $color-river-bed;

		&__more {
			display: block;
			font-size: 14px;
			text-decoration: none;
			color: $color-cold-purple;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__data {
		margin-top: 21px;
		border-top: solid 1px $color-mercury;
		border-bottom: solid 1px $color-mercury;
		padding: 11px 0;
		font-size: 15px;
		line-height: 24px;

		&__author {
			display: inline-block;

			a {
				margin-left: 5px;
				text-decoration: none;
				color: $color-cold-purple;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__comment {
			display: inline-block;
			margin: 0 29px;

			a {
				text-decoration: none;
				color: $color-cold-purple;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__tags {
			display: inline-block;

			a {
				margin: 0 1px;
				text-decoration: none;
				color: $color-river-bed;

				&:hover {
					text-decoration: underline;
				}

				&:first-child {
					margin-left: 5px;
				}
			}
		}

		&__share {
			display: inline-block;
			margin-right: 17px;
			margin-left: 31px;
			color: $color-river-bed;

			&__links {
				display: inline-block;
				margin-left: 22px;
			}

			&__link {
				margin-right: 15px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
