.categories {
	&__list {
		margin-top: 25px;

		&__item {
			position: relative;
			display: block;
			margin-bottom: 5px;
			padding: 2px 0 2px 16px;
			font-size: 13px;
			line-height: 26px;
			text-decoration: none;
			color: $color-river-bed;

			&::before {
				@include sprite("list-type");

				content: "";
				position: absolute;
				left: 0;
				top: 9px;
			}

			&:hover {
				text-decoration: underline;
			}

			&--active {
				border-radius: 3px;
				padding-left: 25px;
				color: $color-white;
				background: $color-river-bed;

				&::before {
					@include sprite("list-type-active");

					content: "";
					left: 11px;
				}
			}
		}
	}
}
