.content {
	padding-top: 73px;

	.container {
		display: flex;
		justify-content: space-between;
	}

	&__main {
		width: 831px;

		.article {
			margin-bottom: 86px;
		}
	}

	&__sidebar {
		width: 270px;

		.search {
			margin-top: 18px;
		}

		.subscribe {
			margin-top: 42px;
		}

		.categories {
			margin-top: 52px;
		}

		.popular-post {
			margin-top: 52px;
		}
	}
}
