.footer {
	margin-top: 47px;
	border-top: solid 1px $color-mercury;
	padding-bottom: 46px;
	text-align: center;

	.follow {
		margin-top: 45px;

		&__links {
			text-align: center;
		}
	}

	&__copyright {
		margin-top: 19px;
		font-size: 14px;
		line-height: 24px;
		color: $color-boulder;

		a {
			margin-left: 4px;
			font-size: 14px;
			line-height: 24px;
			text-decoration: none;
			color: $color-boulder;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
