.recent-post {
	&__list {
		margin-top: 19px;

		&__item {
			position: relative;
			display: block;
			padding-left: 14px;
			font-size: 14px;
			line-height: 36px;
			text-decoration: none;
			color: $color-river-bed;

			&::before {
				content: "●";
				position: absolute;
				left: 0;
				top: 0;
				width: 6px;
				height: 6px;
				color: $color-shakespeare;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
