$sprites: (
	"fb": (
		normal: (
			x: 60,
			y: 0,
			width: 11,
			height: 21,
			image: "sprites.png",
			total_width: 71,
			total_height: 41,
		),
		retina: (
			x: 120,
			y: 0,
			width: 22,
			height: 42,
			image: "sprites@2x.png",
			total_width: 142,
			total_height: 82,
		),
	),
	"follow-fb": (
		normal: (
			x: 47,
			y: 0,
			width: 11,
			height: 22,
			image: "sprites.png",
			total_width: 71,
			total_height: 41,
		),
		retina: (
			x: 94,
			y: 0,
			width: 22,
			height: 44,
			image: "sprites@2x.png",
			total_width: 142,
			total_height: 82,
		),
	),
	"follow-gp": (
		normal: (
			x: 0,
			y: 0,
			width: 22,
			height: 22,
			image: "sprites.png",
			total_width: 71,
			total_height: 41,
		),
		retina: (
			x: 0,
			y: 0,
			width: 44,
			height: 44,
			image: "sprites@2x.png",
			total_width: 142,
			total_height: 82,
		),
	),
	"follow-tw": (
		normal: (
			x: 0,
			y: 24,
			width: 21,
			height: 17,
			image: "sprites.png",
			total_width: 71,
			total_height: 41,
		),
		retina: (
			x: 0,
			y: 48,
			width: 42,
			height: 34,
			image: "sprites@2x.png",
			total_width: 142,
			total_height: 82,
		),
	),
	"search": (
		normal: (
			x: 23,
			y: 24,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 71,
			total_height: 41,
		),
		retina: (
			x: 46,
			y: 48,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 142,
			total_height: 82,
		),
	),
	"tw": (
		normal: (
			x: 24,
			y: 0,
			width: 21,
			height: 18,
			image: "sprites.png",
			total_width: 71,
			total_height: 41,
		),
		retina: (
			x: 48,
			y: 0,
			width: 42,
			height: 36,
			image: "sprites@2x.png",
			total_width: 142,
			total_height: 82,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
