$sprites: (
	"arrow-left": (
		normal: (
			x: 0,
			y: 24,
			width: 15,
			height: 28,
			image: "sprites.png",
			total_width: 81,
			total_height: 52,
		),
		retina: (
			x: 0,
			y: 48,
			width: 30,
			height: 56,
			image: "sprites@2x.png",
			total_width: 162,
			total_height: 104,
		),
	),
	"arrow-right": (
		normal: (
			x: 24,
			y: 0,
			width: 15,
			height: 28,
			image: "sprites.png",
			total_width: 81,
			total_height: 52,
		),
		retina: (
			x: 48,
			y: 0,
			width: 30,
			height: 56,
			image: "sprites@2x.png",
			total_width: 162,
			total_height: 104,
		),
	),
	"fb": (
		normal: (
			x: 24,
			y: 30,
			width: 11,
			height: 21,
			image: "sprites.png",
			total_width: 81,
			total_height: 52,
		),
		retina: (
			x: 48,
			y: 60,
			width: 22,
			height: 42,
			image: "sprites@2x.png",
			total_width: 162,
			total_height: 104,
		),
	),
	"follow-fb": (
		normal: (
			x: 64,
			y: 19,
			width: 11,
			height: 22,
			image: "sprites.png",
			total_width: 81,
			total_height: 52,
		),
		retina: (
			x: 128,
			y: 38,
			width: 22,
			height: 44,
			image: "sprites@2x.png",
			total_width: 162,
			total_height: 104,
		),
	),
	"follow-gp": (
		normal: (
			x: 0,
			y: 0,
			width: 22,
			height: 22,
			image: "sprites.png",
			total_width: 81,
			total_height: 52,
		),
		retina: (
			x: 0,
			y: 0,
			width: 44,
			height: 44,
			image: "sprites@2x.png",
			total_width: 162,
			total_height: 104,
		),
	),
	"follow-tw": (
		normal: (
			x: 41,
			y: 20,
			width: 21,
			height: 17,
			image: "sprites.png",
			total_width: 81,
			total_height: 52,
		),
		retina: (
			x: 82,
			y: 40,
			width: 42,
			height: 34,
			image: "sprites@2x.png",
			total_width: 162,
			total_height: 104,
		),
	),
	"list-type-active": (
		normal: (
			x: 64,
			y: 43,
			width: 6,
			height: 9,
			image: "sprites.png",
			total_width: 81,
			total_height: 52,
		),
		retina: (
			x: 128,
			y: 86,
			width: 12,
			height: 18,
			image: "sprites@2x.png",
			total_width: 162,
			total_height: 104,
		),
	),
	"list-type": (
		normal: (
			x: 72,
			y: 43,
			width: 6,
			height: 9,
			image: "sprites.png",
			total_width: 81,
			total_height: 52,
		),
		retina: (
			x: 144,
			y: 86,
			width: 12,
			height: 18,
			image: "sprites@2x.png",
			total_width: 162,
			total_height: 104,
		),
	),
	"search": (
		normal: (
			x: 64,
			y: 0,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 81,
			total_height: 52,
		),
		retina: (
			x: 128,
			y: 0,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 162,
			total_height: 104,
		),
	),
	"tw": (
		normal: (
			x: 41,
			y: 0,
			width: 21,
			height: 18,
			image: "sprites.png",
			total_width: 81,
			total_height: 52,
		),
		retina: (
			x: 82,
			y: 0,
			width: 42,
			height: 36,
			image: "sprites@2x.png",
			total_width: 162,
			total_height: 104,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
