// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-shakespeare: #49cbcd;
$color-athens-gray: #f8f9fb;

// FONTS

$font-family-open-sans: "Open Sans", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
