// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-shakespeare: #49cbcd;
$color-athens-gray: #f8f9fb;
$color-river-bed: #414a5a;
$color-cold-purple: #a88fd8;
$color-mercury: #e9e9e9;
$color-chambray: #3b5997;
$color-picton-blue: #3ec2f3;
$color-cinnabar: #e44c41;
$color-silver: #bababa;

// FONTS

$font-family-open-sans: "Open Sans", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
